body{
  margin: 0;
}

.main {
  &-header {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;

    &-menu {
    }

    &-toolbar {
      margin-right: 50px;
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
